.container {
  display: flex;
}

.column {
  flex: 1; /* This ensures that each column takes up equal space */
}

.column-left {
  background-color: #6ED3FF; /* Light blue background for the left column */
}

.column-right {
  background-color: #FFFFFF; /* White background for the right column */
}
